.titulo{
    text-align: $alineado-centro;
}
.imagenfondo{
    
    background-size: 100vw;
    background-repeat: repeat-y;
    min-height: 135vw;
 }
 .flechita{
    width: 80px;
   margin-top: 50px;
   margin-left: 500px;
 }
 .width_pequeño{


    width: 50px;
 }